.App .App-header {
  font-family: monospace;
  text-align: center;
  background-color: burlywood;
  padding: 15px;
}
li {
  list-style-type: none;
}

.footer-div {
  color: rgb(141, 95, 141);
}

.form-input {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border-color: transparent;
}
.btn-temp{
  color: blue;
}
