.App .App-header {
  text-align: center;
  background-color: rgb(93, 91, 225);
  padding: 15px;
}
li {
  list-style-type: none;
}

.footer-div {
  color: rgb(141, 95, 141);
}

.form-input {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border-color: transparent;
}
.btn-temp {
  color: rgb(209, 181, 248);
}

.current-weather {
  text-align: left;
  font-weight: 400;
}

.city-on-screen {
font-size: larger;
font-weight: bolder;
}

.daily-temps {
font-size: medium;
}

.forecast-container {
text-align: center;
}